@model IEnumerable<MVCDatatransactionBD.Transaccion>

@{
    ViewBag.Title = "Transacciones";
}


<h1 class="text-center"><i class="fas fa-comments-dollar text-success"></i> @ViewBag.Title</h1>

<div class="form-group">
    <a class='btn btn-success btn-sm btn-grid' href="@Url.Action("Create")">
        <span class="glyphicon glyphicon-file"></span> Nuevo
    </a>
</div>
<div class="table-responsive">
    <table id="Data" class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    NumeroCuenta
                </th>
                <th>
                    Beneficiario
                </th>
                <th>
                    Banco
                </th>
                <th>
                    SWIFTCode
                </th>
                <th>
                    Cantidad
                </th>
                <th>
                    Fecha
                </th>
            </tr>
        </thead>
    </table>

</div>

<link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />


@section Scripts {
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap.min.js"></script>
    

    <script>
        $(document).ready(function () {
            $('#Data').DataTable({
                "ajax": {
                    "type": "GET",
                    "url": "@Url.Action("GetData", "Transaccions")",
                    "datatype":"JSON",
                },
                "columns": [
                    { "data": "tra_id" },
                    { "data": "tra_accountnumber" },
                    { "data": "tra_beneficiaryname" },
                    { "data": "tra_bankname" },
                    { "data": "tra_SWIFTCode" },
                    { "data": "tra_amount" },
                    { "data": "tra_datetime" }
                ],
                "paging": true,
                "pagingType": "full_numbers",
                "lengthMenu": [5, 10, 25, 50, 75, 100],
                "pageLength": 5,
                "records": 5,
                "recordsFiltered": 10,
                "language": {
                    "processing": "<img src='/Content/Imagenes/Loading.gif' />",
                    "emptyTable": "No hay datos para mostrar",
                    "sSearch": "Buscar:",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    }

                },
                processing: true
            });
        });
    </script>
}

