body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'PT Sans', sans-serif;
}



/*Boton Cerrar Ventana*/

.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: 0.6;
}

.boxclose {
    display: block;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    border-width: 3px;
    border-style: solid;
    border-color: red;
    border-radius: 100%;
    background: -webkit-linear-gradient(-45deg, transparent 0%, transparent 46%, white 46%, white 56%,transparent 56%, transparent 100%), -webkit-linear-gradient(45deg, transparent 0%, transparent 46%, white 46%, white 56%,transparent 56%, transparent 100%);
    background-color: red;
    box-shadow: 0px 0px 5px 2px white;
    transition: all 0.3s ease;
}

.modal.in .modal-dialog {
    margin-top: 100px;
}

.modal-header {
    background-color: #6aa01c;
    color: #fff;
    border-color: #6aa01c;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px 5px 0px 0px;
}

.modal-footer {
    padding: 15px;
    border-top: 1px solid #e5e5e5;
    text-align: right;
}

.form-horizontal .control-label {
    text-align: left;
}


.control-label {
    font-weight: normal;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 95%;
}


table.dataTable {
    border: none !important;
}

th{
    background-color:#f2f3e5;
}

/*Formato a los botones de paginación de la tabla*/
.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0px;
    margin-left: 0px;
    display: inline;
    border: 0px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
        border: 0px;
}

table.dataTable thead th, table.dataTable thead td {
    padding: 10px 18px;
    border-bottom: 0px solid #111;
}